#container {
  display: flex;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* border-left: 2px solid #222222; 
  border-right: 2px solid #222222; */
}
#header {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  padding: 20px;
}
#footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
}
#navbar {
  width: 600px;
  margin-left: auto;
  margin-right: auto; 
  padding-top: 20px;
  padding-bottom: 20px;
}
#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto; 
  border-left: 2px solid #222222; 
  border-right: 2px solid #222222;
  padding-left: 20px;
  padding-right: 20px;
}
* {
box-sizing: border-box;
}
#navbar a:link {
  text-align: center;
  padding: 14px 16px;
  color: #45f092;
  text-decoration: none;
}
#navbar a:visited {
  text-align: center;
  padding: 14px 16px;
  color: #fc0136;
  text-decoration: none;
}
#navbar a:hover {
  text-align: center;
  padding: 14px 16px;
  color: #e3fc01;
  text-decoration: none;
}
#header, #footer, #navbar, #content {

font-family: "Lucida Console", "Courier New", monospace;
}
body {
background-color:#161616;
color: #e4e6e6;
}